<!DOCTYPE html>
<!--this is a template for all projects
    it needs to have a banner at the top with links to /home, /blog, /fun, /portfolio, and /projects
    title with title }} as a place holder
    subtitle with subtitle }} as a place holder
    cover icon with cover }} as a place holder
    div called preview with preview }} as a place holder
    main content with writeup }} as a place holder
-->

<html>
    <head>
        <title>{% block title %}turtleship69{% endblock %}</title>
        <!--import bootstrap.css-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <!----------------------------------------------------------------------------->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!--<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1821d1;"> maybe one day-->
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fun">Fun</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">Projects</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% block content %}Content goes here{% endblock %}
        <script data-collect-dnt="true" async defer src="https://sa.nathans.games/latest.js"></script>
    <noscript><img src="https://sa.nathans.games/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

    </body>
</html>
