{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="side">
        <ul>
            {% for item in links %}
            <li><a href="{{ item.href }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!--make div "side" go on the side of the main content-->

    <div id="content">
        {{ content }}
    </div>

    <style type="text/css">
        #side {
            float: left;
            border: 1px solid black;
            background-color: white;
            padding-right: 10px; 
            padding-left: 10px;
            /*move the bullet points further left*/
            margin-left: -30px;
        }

        /*add padding to the left of "context" from "side"*/
        #content {
            padding-left: 200px;
        }
    </style>
{% endblock %}